@font-face {
  font-family: "Myriad Pro";
  src:  url("../fonts/MyriadProRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro Bold";
  src:  url("../fonts/MyriadProBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro Italic";
  src:  url("../fonts/MyriadProItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
