.block-4 {
  @include container-fluid();
  padding: 60px 20px;
  @media ($tablet-width) {
    padding: 50px 0px;
  }
  @media ($mobile-width) {
    padding: 35px 0px;
    padding-left: 20px;
  }
}

.block-4__title {
  font-size: 54px;
  text-align: center;
  padding-bottom: 56px;
  @media ($tablet-width) {
    padding-bottom: 30px;
  }
  @media ($mobile-width) {
    width: 90%;
    font-size: 45px;
    text-align: center;
    padding: 0px 20px;
  }
  @media ($mobile-width) {
    padding-bottom: 30px;
    padding: 0px;
  }
}

.block-4__articles {
  display: flex;
  flex-wrap: wrap;
  padding-top: 74px;
  @media ($tablet-width) {
    padding-top: 35px;
  }
}

.block-4__article {
  display: flex;
  justify-content: flex-start;

  @media ($tablet-width) {
    padding-left: 20px;
    display: block;
    &--main {
      display: flex;
      justify-content: flex-start;
    }
  }
  @media ($mobile-width) {
    padding-left: 0px;
    &--main {
      display: block;
      padding-left: 0px;
    }
  }
}

.block-4__main-img {
  width: 500px;
  height: 200px;
  background-color: #83d0f5;
  @media ($tablet-width) {
    width: 450px;
    height: 180px;
  }
  @media ($mobile-width) {
    width: 88%;
    height: 160px;
    margin-top: 25px;
    margin-bottom: 20px;
  }
}

.block-4__img {
  width: 200px;
  height: 200px;
  background-color: #83d0f5;
  @media ($tablet-width) {
    width: 185px;
    height: 185px;
    margin-bottom: 20px;
  }
  @media ($mobile-width) {
    display: block;
    width: 220px;
    height: 175px;
    margin: 0 auto;
  }
}

.block-4__desc {
  width: 635px;
  margin-left: 44px;
  &--short {
    width: 310px;
    margin-right: 65px;
    margin-bottom: 45px;
  }

  @media ($tablet-width) {
    width: 450px;
    margin-left: 20px;
    font-size: 16px;
    &--short {
      width: 195px;
      margin-bottom: 40px;
      font-size: 16px;
      margin: 0px;
    }
  }
  @media ($mobile-width) {
    width: 88%;
    margin: 0px;
    font-size: 16px;
    &--short {
      width: 280px;
      margin-top: 20px;
      margin-bottom: 30px;
      font-size: 16px;
    }
  }
}

.block-4__subtitle {
  font-size: 25px;

  @media ($tablet-width) {
    font-size: 21px;
  }
  @media ($mobile-width) {
    text-align: center;
  }
}

.block-4__articles {
  display: flex;
  flex-wrap: wrap;
  padding-top: 74px;
  @media ($mobile-width) {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
  }
}

.block-4__text-main {
  @media ($mobile-width) {
    margin: 10px 0px;
    text-align: center;
  }
}

.block-4__text {
  @media ($mobile-width) {
    width: 240px;
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
  }
}
